@model IEnumerable<DnDApp.Models.Episode>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EpisodeName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ChapterNumber)
        </th>
        <th>
            Book Name
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.EpisodeName, "Details", new { id = item.Id}, new { color = "green"})
        </td>
        <td>
           @item.ChapterNumber
        </td>
        <td>
            @item.Book.BookName
        </td>
    </tr>
}

</table>
