@model DnDApp.Models.PartyMember

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
   
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>PartyMember</h4>
        <hr />
        <dl class="dl-horizontal">

    
            <dd>
                @Html.DisplayFor(model => model.PlayerStat.StatId)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Level)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Level)
            </dd>
            <dt>
                <p onclick="DnDApp.Ajax.ChangeCharacterNameToBrendan(@Model.Id)">Change Name to Brendan</p>
            </dt>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
