@model IEnumerable<DnDApp.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<h2>Books</h2>
<h1> @ViewBag.Name</h1>
<div>

    <div style="border: 2px solid #808080">
        <h4> Blood Wet Sands </h4>
        <div style="display: flex; flex-wrap: wrap;">
            @foreach (var Book in Model)
            {
                if (Book.Series == "Blood Wet Sands")
                {
                    <div class="book-cover">
                       @Html.ActionLink(@Book.BookName, "ChaptersIndex", "Episode", new { id = Book.Id}, new { @class = "book-title"} )
                    </div>
                }
            }
        </div>
    </div>

    <div  style="border: 2px solid #808080">
        <div style="display: flex">
            <h4>Veil of Spears</h4>
            @foreach (var Book in Model)
            {
                if (Book.Series == "Veil of Spears")
                {
                    <div class="book-cover" style="background-image: url(/Content/Images/Old_Book_Cover.jpg);">
                        
                            @Html.ActionLink(@Book.BookName, "ChaptersIndex", "Episode", new { id = Book.Id }, new { @class="book-title" })
                        
                    </div>
                }
            }
        </div>
    </div>

</div>


